.header{
   height: 300px;
   width: 400px;
}
#temp{
    color: black;
    
}
.title{
    color: rgb(15, 15, 107);
    font-size: 20px;
}
/*styling the Home Page*/
.title{
    color:rgb(24, 26, 26);
}
.text{
    color: rgb(44, 44, 194);
}

nav {
    background-color: rgb(127, 192, 192);
    padding: 0px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex; 
    justify-content: left; 
    gap: 20px; 
    z-index: 5; 

  }
  
  
  nav a {
    color: rgb(199, 61, 61); 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
    font-size: 20px;
  }
  
  nav a:hover {
    background-color: rgb(216, 209, 209); 
  }
  